@page
@model CosmosPagination.Web.Pages.DataModel

@{
    ViewData["Title"] = "Data viewer";
}

<div>
    <form asp-page-handler="seed" method="post">
        <button class="btn btn-primary">Seed data</button>
    </form>
    <button type="button" class="btn btn-danger">Delete data</button>
</div>

<div>
    <form asp-page-handler="getall" method="post">
        <button class=btn btn-primary>View all data unpaginated</button>
    </form>
</div>
