@page
@model CosmosPagination.Web.Pages.DataModel

@{
    ViewData["Title"] = "Data management";
}

<div>
    <form class="d-inline" asp-page-handler="seed" method="post">
        <button class="btn btn-primary">Seed data</button>
    </form>
    <form class="d-inline" asp-page-handler="delete" method="post">
        <button class="btn btn-danger">Delete data</button>
    </form>
</div>
<br />
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success">
        @Model.Message
    </div>
}
